<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      <link rel="stylesheet" href="../css/general-style.css" />
      <title>i-dan Villa</title>
   </head>
   <body>
      <nav class="topnav">
         <div class="container">
            <div>
               <a href="/home">
                  <h1 class="logo">
                     <i>i-dan Villa</i>
                  </h1>
               </a>

               <span>If you don't get it, forget about it</span>
            </div>
            <ul class="nav-menu">
               <a href="/home"><li>Home</li></a>
               <a href="/services"><li>Goods & Sevices</li></a>
               <a href="/contact"><li>Contact Us</li></a>
               <a href="/logout"><li>Logout</li></a>
            </ul>
         </div>
         <a href="javascript:void(0);" onclick="responsiveBar()">
            <i class="fa-solid fa-bars res-bars"></i>
         </a>
      </nav>
      <main>
