<%- include('includes/header.ejs') %>
    <section class="services-section">
        <div class="container">
            <div class="service-wrapper">
                <img src="images/advert/chisom.jpg" alt="chisom">
                <div class="service-details">
                    <h3>Data Vendor & Fashion Designer</h3>
                    <p>Top up your data and gotv and get top quality sewing for your mens wear</p>
                </div>
                <div class="service-contact">
                    <p>+2348179602864</p>
                </div>
            </div>
            <div class="service-wrapper colored-bg">
                <img src="images/advert/austine.jpg" alt="austine">
                <div class="service-details">
                    <h3>Wrist Watch Dealer</h3>
                    <p>Get all types of quality wrist watches and bangles and repairs</p>
                </div>
                <div class="service-contact">
                    <p>+2349076720037</p>
                </div>
            </div>
            <div class="service-wrapper">
                <img src="images/advert/ashamole.jpg" alt="ashamole">
                <div class="service-details">
                    <h3>Electrical Engineer</h3>
                    <p>Service of all types of industrial generators. Repair, sale, service etc.</p>
                </div>
                <div class="service-contact">
                    <p>+2347037842107</p>
                </div>
            </div>
            <div class="service-wrapper colored-bg">
                <img src="images/advert/ben.jpg" alt="ben">
                <div class="service-details">
                    <h3>Mouka Foam Dealer</h3>
                    <p>Get all types of quality Mouka Foam. Bed, pillow, different sizes. Certified dearler</p>
                </div>
                <div class="service-contact">
                    <p>+2347064690997</p>
                </div>
            </div>
            <div class="service-wrapper">
                <img src="images/advert/grace.jpg" alt="grace">
                <div class="service-details">
                    <h3>Hair Stylist & Sale, Gas Vendor</h3>
                    <p>Plait and Style your hair. Buy quality wigs, bone straight, brazilian hair, human hair. Buy your cooking gas</p>
                </div>
                <div class="service-contact">
                    <p>+2349013419187</p>
                </div>
            </div>
            <div class="service-wrapper colored-bg">
                <img src="images/advert/jbaby.jpg" alt="josephine">
                <div class="service-details">
                    <h3>Accountant, Hair Stylist, Plastic Dealer</h3>
                    <p>Available for accounting position. Plait and Style your hair. Buy quality plastics. Data Vendor.</p>
                </div>
                <div class="service-contact">
                    <p>+2348132040934</p>
                </div>
            </div>
            <div class="service-wrapper">
                <img src="images/advert/lois.jpg" alt="lois">
                <div class="service-details">
                    <h3>Men & Women Wares. Caterer</h3>
                    <p>Get all types of quality men and women wares. Gowns, tops, blowse, etc. Get quality cake delivered at your doorstep</p>
                </div>
                <div class="service-contact">
                    <p>+2349114048477</p>
                </div>
            </div>
            <div class="service-wrapper colored-bg">
                <img src="images/advert/joseph.jpg" alt="joseph">
                <div class="service-details">
                    <h3>Engineer. Nutritionist</h3>
                    <p>Repair your electronics. Phones, electric cooker, electric iron, jug etc. Consultation on your nutrition and diet</p>
                </div>
                <div class="service-contact">
                    <p>+2348137005224</p>
                </div>
            </div>
            <div class="service-wrapper">
                <img src="images/advert/josephine.jpg" alt="josephine">
                <div class="service-details">
                    <h3>Hair Stylist. Network Accessories Dealer</h3>
                    <p>Plait and Style your hair. Get your Gotv, MTN Mordem, swift, spetranet, eternet etc</p>
                </div>
                <div class="service-contact">
                    <p>+2348134437113</p>
                </div>
            </div>
            <div class="service-wrapper colored-bg">
                <img src="images/advert/nelson.jpg" alt="nelson">
                <div class="service-details">
                    <h3>Mechanical Engineer</h3>
                    <p>Build anything you can imagine. Tell us and we will build it. Barbecue Stand, Unbelievable gas cooker, unimaginable shawamma cooker, BRC altar etc.</p>
                </div>
                <div class="service-contact">
                    <p>+2347034512985</p>
                </div>
            </div>
            <div class="service-wrapper">
                <img src="images/advert/peter.jpg" alt="peter">
                <div class="service-details">
                    <h3>Gas Dealer (CEO Cephas Gas)</h3>
                    <p>Get all types of quality gas cylinders and cookers. fill your gas, home delivery. Repair Damaged Cylinders etc.</p>
                </div>
                <div class="service-contact">
                    <p>+2348186478707</p>
                </div>
            </div>
            <div class="service-wrapper colored-bg">
                <img src="images/advert/rosemary.jpg" alt="rosemary">
                <div class="service-details">
                    <h3>Fashion Designer</h3>
                    <p>Get all types of quality clothes. Sew different style of clothes for women. Wedding gowns, ankara, senetor, BRC Scalf etc.</p>
                </div>
                <div class="service-contact">
                    <p>+2349023106661</p>
                </div>
            </div>
            <div class="service-wrapper">
                <img src="images/advert/wilson.jpg" alt="wilson">
                <div class="service-details">
                    <h3>Washing Machine Dealer</h3>
                    <p>Get all types of quality Washing Machine. Industrial Washing Machine, domestic washing machine. Repair and Service Damaged washing Machine</p>
                </div>
                <div class="service-contact">
                    <p>+2348114878815</p>
                </div>
            </div>
            <div class="service-wrapper colored-bg">
                <img src="images/advert/kenneth.jpg" alt="kenneth">
                <div class="service-details">
                    <h3>Painter, Technical Drawing Instructor</h3>
                    <p>House painting, screeding, 3D painting. Learn Technical Drawing. Repair Damaged Statue.</p>
                </div>
                <div class="service-contact">
                    <p>+2349071562516</p>
                </div>
            </div>
            <div class="service-wrapper">
                <img src="images/advert/frank.jpg" alt="frank">
                <div class="service-details">
                    <h3>Chattered Accountant</h3>
                    <p>Accounting Consultations, advice, reconcilliation. Tax rectification, advice. Investment analysis. Inventory reconcilliation, book keeping</p>
                </div>
                <div class="service-contact">
                    <p>+2347061902428</p>
                </div>
            </div>
            <div class="service-wrapper colored-bg">
                <img src="images/advert/cyril.jpg" alt="cyril">
                <div class="service-details">
                    <h3>Teacher, Painter</h3>
                    <p>Home Tutor, Special Child training, preparation for common entrance. House painting, screeding, etc.</p>
                </div>
                <div class="service-contact">
                    <p>+2349026852618</p>
                </div>
            </div>
            <div class="service-wrapper">
                <img src="images/advert/chris.jpg" alt="chris">
                <div class="service-details">
                    <h3>Printing Press</h3>
                    <p>Sale of different kind of shirts/polo. Quality print on clothes. print names, picture, designs etc.</p>
                </div>
                <div class="service-contact">
                    <p>+2347047357804</p>
                </div>
            </div>
            <div class="service-wrapper colored-bg">
                <img src="images/advert/sam.jpg" alt="sam">
                <div class="service-details">
                    <h3>Web Developer</h3>
                    <p>Design and host websites, web app. Manage your Invetory, Installation of Inventory Manager application. Computer Teacher. Learn Web design</p>
                </div>
                <div class="service-contact">
                    <p>+2348166380514</p>
                </div>
            </div>
        </div>
    </section>
<%- include('includes/footer.ejs') %>